@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-secondary: #132a31;
  --color-primary: #233a41;
  --color-green: #2fc980;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
